<ion-header>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open Modal</ion-button>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>New Food Item</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item>
              <ion-label position="fixed">Name</ion-label>
              <ion-input [clearInput]="true" label="Name" labelPlacement="stacked" placeholder="Enter company name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Weight</ion-label>
            <ion-input [clearInput]="true" placeholder="Weight"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label position="fixed">Price</ion-label>
            <ion-input [clearInput]="true" placeholder="Price"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>