<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favourites
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div *ngFor="let item of favourites">
    <ion-card class="welcome-card">
      <ion-card-content>
        {{ item.joke }}
      </ion-card-content>
      <ion-button (click)="removeFav(item)" expand="block"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-button (click)="loadFav()" expand="block">Refresh</ion-button>